* {
  box-sizing:border-box;
}
.devis_rc {
  font-family:helvetica, arial;
}
.devis_rc--contact .devis_rc--contact_name,
.devis_rc--contact .devis_rc--contact_tel {
  width: 100%;
  font-size: 1em;
}
.devis_rc--contact .devis_rc--contact_name,
.devis_rc--contact .devis_rc--contact_title {
  font-weight: 800;
}
.devis_rc--contact .devis_rc--contact_title,
.devis_rc--contact .devis_rc--contact_welcome {
  margin: 2em 0;
}
form.devis{
  width:100%;
  padding:1%;
}
form.devis input,
form.devis select{
  width:100%;
  font-size:1.25em;
  margin:10px 0;
  padding:2%;
  border-radius:4px;
  border:1px solid rgb(131, 0, 0);
  color:#444;
}
form.devis select{
  border:1px solid #888;
}
form.devis label{
  width:100%;
  font-size:1em;
  color:#888;
  padding:0 2% 5%;
  float:left;
}
form.devis input[type="checkbox"]{
  width:10%;
  float:left;
}
form.devis label.type-checkbox{
  width:90%;
}
form.devis input[type="checkbox"],
form.devis label.type-checkbox{
  margin:10px 0;
  padding:0;
  color:#444;
}
form.devis select.surface {
  width: 75px;
}
.line {
  float: left;
}
.w_100,
.w_50,
.w_20,
.w_15,
.w_10 {
  float: left;
  padding: 10px 5px;
}
.w_100,
.line {
  width: 100%;
}
.w_50 {
  width: 50%;
}
.w_20 {
  width: 20%;
}
.w_15 {
  width: 15%;
}
.w_10 {
  width: 10%;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
.b_top {
  border-top: 1px solid #000;
}
.b_right {
  border-right: 1px solid #000;
}
.devis_coordonnees {

}
