* {
  box-sizing:border-box;
}
.devis_rc {
  font-family:helvetica, arial;
}
.contact,
.coor_renov,
.form_coordonnees {
  display: inline-block;
  width: 100%;
}
.contact {
  margin: 50px 0;
}
.contact .contact_name,
.contact .contact_tel {
  width: 100%;
  font-size: 1em;
}
.contact .contact_name,
.contact .contact_title {
  font-weight: 800;
}
.contact .contact_title,
.contact .contact_welcome {
  margin: 2em 0;
}
form.devis{
  width:100%;
  padding:1%;
}
form.devis input,
form.devis select{
  width:100%;
  font-size:1.25em;
  margin:10px 0;
  padding:2%;
  border-radius:4px;
  border:1px solid rgb(131, 0, 0);
  color:#444;
}
form.devis input[type="submit"]{
  width:100%;
  color: rgb(131, 0, 0);
  background: #fff;
  transition: color 250ms ease, background 250ms ease, box-shadow 250ms ease;
  letter-spacing: 2px;
  font-size: 2em;
  cursor: pointer;
  box-shadow: none;
}
form.devis input[type="submit"]:hover{
  color: #fff;
  background: rgb(131, 0, 0);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}
form.devis input[type="submit"]:active{
  box-shadow: none;
}
form.devis select {
  border:1px solid #888;
}
form.devis .form-group label {
  width:100%;
  font-size:1em;
  color:#888;
  padding:0 2% 5%;
  float:left;
}
form.devis input[type="checkbox"] {
  width:10%;
  float:left;
}
form.devis label.type-checkbox {
  width:90%;
}
form.devis input[type="checkbox"],
form.devis label.type-checkbox {
  margin:10px 0;
  padding:0;
  color:#444;
}
form.devis select.surface {
  width: 75px;
}
table.talbeau_devis {
  border-collapse: collapse;
  width: 100%;
}
table thead {
  color: rgb(131, 0, 0);
}
.talbeau_devis label {
  cursor: pointer;
}
form.devis table select {
  margin: 0;
}
table td,
table th {
  padding: 10px;
}
.w_100,
.w_50,
.w_20,
.w_15,
.w_10 {
  /*float: left;*/
}
.w_100,
.line {
  width: 100%;
}
.w_50 {
  width: 50%;
}
.w_20 {
  width: 20%;
}
.w_15 {
  width: 15%;
}
.w_10 {
  width: 10%;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
.b_top {
  border-top: 1px solid rgb(131, 0, 0);
}
.b_right {
  border-right: 1px solid rgb(131, 0, 0);
}
.b_left {
  border-left: 1px solid rgb(131, 0, 0);
}
.b_bottom {
  border-bottom: 1px solid rgb(131, 0, 0);
}

@media screen and (min-width: 600px) {

  body {
    width: 960px;
    margin: auto;
  }

  form.devis input,
  form.devis select {
    font-size: 1em;
  }

  /*.form_coordonnees {
    width: 60%;
    padding: 0;
    float: right;
    margin: 0 0 50px;
  }*/

  .coor_renov,
  .form_coordonnees {
    float: left;
    width: 50%;
  }

  form.devis .form-group {
    width: 48%;
    margin: auto 1%;
    float: left;
  }

  form.devis .form-group label {
    padding: 0 auto;
  }

  form.devis input[type="submit"] {
    width: 30%;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 50px 35%;
  }

}
