* {
  box-sizing:border-box;
}
.devis_rc {
  font-family:helvetica, arial;
}
form.devis{
  width: 100%;
  padding: 1%;
}
form.devis .contact input,
form.devis .contact select {
  width: 100%;
  font-size: 1.25em;
  margin: 10px 0;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid rgb(131, 0, 0);
  color: #111;
}
form.devis .tableau_devis select {
  width: 70px;
}
form.devis input[type="submit"]{
  width:100%;
  color: rgb(131, 0, 0);
  background: #fff;
  transition: color 250ms ease, background 250ms ease, box-shadow 250ms ease;
  letter-spacing: 2px;
  font-size: 2em;
  cursor: pointer;
  box-shadow: none;
}
form.devis input[type="submit"]:hover {
  color: #fff;
  background: rgb(131, 0, 0);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}
form.devis input[type="submit"]:active {
  box-shadow: none;
}
form.devis select {
  border:1px solid #111;
}
form.devis .form-group label {
  width:100%;
  font-size:1em;
  color: #111;
  padding:0 2% 5%;
  float:left;
}
form.devis input[type="checkbox"] {
  width:10%;
  float:left;
}
form.devis label.type-checkbox {
  width:90%;
}
form.devis input[type="checkbox"],
form.devis label.type-checkbox {
  margin: 10px 0;
  padding: 0;
  color: #000;
}
form.devis select.surface {
  width: 75px;
}
table.tableau_devis {
  border-collapse: collapse;
  width: 100%;
}
table thead {
  color: rgb(131, 0, 0);
}
form.devis table select {
  margin: 0;
}
table td,
table th {
  padding: 10px;
}
.w_100,
.line {
  width: 100%;
}
.w_65 {
  widows: 65%;
}
.w_50 {
  width: 50%;
}
.w_20 {
  width: 20%;
}
.w_15 {
  width: 15%;
}
.w_10 {
  width: 10%;
}
.w_10 {
  width: 10%;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
.b_top {
  border-top: 1px solid rgb(131, 0, 0);
}
.b_right {
  border-right: 1px solid rgb(131, 0, 0);
}
.b_left {
  border-left: 1px solid rgb(131, 0, 0);
}
.b_bottom {
  border-bottom: 1px solid rgb(131, 0, 0);
}

@media screen and (min-width: 600px) {

  body {
    width: 960px;
    margin: auto;
  }

  form.devis input,
  form.devis select {
    font-size: 1em;
  }

  form.devis .form-group {
    width: 48%;
    margin: auto 1%;
    float: left;
  }

  form.devis .form-group.large {
    width: 98%;
  }

  form.devis .form-group label {
    padding: 0 auto;
  }

  form.devis input[type="submit"] {
    width: 30%;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 50px 35%;
  }

}
